.main-left-filters-brands-content{
    display: flex;
    flex-direction: column;
}

.main-left-brands-content{
    display: flex;
    justify-content: space-between;
    margin-right: 7rem;
}

.filters-brands{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.filters-brands > .filter-brands{
    text-decoration: none;
    color: #8A8A8A;
}

@media screen and (min-width: 768px) {
    
    .filters-brands-select{
        display: none;
    }

    .filters-brands{
        display: grid;
    }
}