@import './header.css';
@import './footer.css';
@import './new-arrivals.css';
@import './product-card.css';
@import './info-card-top.css';
@import './card-brand.css';
@import './banner.css';
@import './pre-footer.css';
@import './header-shop.css';
@import './main-shop.css';
@import './filters-price.css';
@import './filters-brands.css';
@import './filters-collections.css';
@import './filters-tags.css';
@import './nav-main-right-shop.css';
@import './card-product-shop.css';
@import './nav-pages.css';
@import './product-pages.css';
@import './main-product-right.css';
@import './product-size-color.css';
@import './productpage-quantity.css';
@import './productpage-shipping-info.css';
@import './productpage-guarantee-safe.css';
@import './minicarpage-header.css';
@import './modal-minicart.css';
@import './cartpage.css';
@import './checkoutpage-main.css';

.main{
    width: 100%;
    min-height: calc(100dvh - 111px);
    box-sizing: border-box;
    margin: auto;
}