@import './header.css';
@import './footer.css';
@import './new-arrivals.css';
@import './product-card.css';
@import './info-card-top.css';
@import './card-brand.css';
@import './banner.css';
@import './pre-footer.css';

.main{
    width: 100%;
    min-height: calc(100dvh - 111px);
    box-sizing: border-box;
    margin: auto;
}