.modal-minicart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.modal-minicart {
    background-color: white;
    min-width: 30%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1010;
    padding: 4rem;
}

.modal-title-minicart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-title-minicart > h2{
    color: #000000;
    font-family: "Volkhov";
    font-weight: 400;
    font-size: 5.25rem;
}

.modal-title-minicart > img {
    width: 2rem;
    height: 2rem;
}

.modal-free-shipping{
    display: flex;
    gap: 1rem;
    margin-bottom: 7rem;
}

.modal-free-shipping > p{
    color: #8A8A8A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 3.25rem;
}

.modal-free-shipping > h3{
    color: #000000;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 3.25rem;
}

.modal-photo-quatity{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px #00000063;
}

.modal-photo-quatity > img{
    max-width: 21rem;
    max-height: 28.125rem;
}

.modal-quatity{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.modal-quatity > h3{
    color: #000000;
    font-family: "Volkhov";
    font-size: 2.75rem;
    font-weight: 400;
}

.modal-quatity > p{
    color: #8A8A8A;
    font-family: "Poppins";
    font-size: 2.75rem;
    font-weight: 400;
}

.modal-quatity > h4{
    color: #000000;
    font-family: "Poppins";
    font-size: 2.75rem;
    font-weight: 400;
}

.modal-button-quatity{
    display: flex;
    justify-content: space-around;
    background-color: #F1F1F1;
}

.modal-button-quatity > p{
    color: #8A8A8A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 4.5rem;
}

.minicart-modal-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18rem;
    border-bottom: solid 1px #00000063;
    padding-bottom: 2rem;
    gap: 1rem;
}

.minicart-modal-checkbox > input{
    width: 4rem;
    height: 4rem;
}

.minicart-modal-checkbox > h2{
    color: #8A8A8A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2.75rem;
}

.minicart-modal-checkbox > h3{
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2.75rem;
}

.modal-content-total-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
}

.modal-total-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal-total-price > h3{
    color: #000000;
    font-family: "Volkhov";
    font-weight: 400;
    font-size: 2.75rem;
}

.modal-content-total-price > button{
    width: 100%;
    min-height: 8.25rem;
    border-radius: 1.25rem;
    background-color: #ED1C24;
    border: none;
    color: #FFFFFF;
}

.modal-content-total-price > a{
    color: #000000;
    font-family: "Volkhov";
    font-weight: 400;
    font-size: 2.75rem;
}